node_modules/ export-ignore
backend/node_modules/ export-ignore
*.map export-ignore
*.log export-ignore
*.json export-ignore
*.md export-ignore
*.txt export-ignore
*.yml export-ignore
*.yaml export-ignore
*.xml export-ignore
*.lock export-ignore
*.config export-ignore
*.cache export-ignore
*.tmp export-ignore
*.bak export-ignore
*.old export-ignore
*.orig export-ignore
*.rej export-ignore
*.swp export-ignore
*.swo export-ignore
.DS_Store export-ignore
Thumbs.db export-ignore
desktop.ini export-ignore